name: Dependency Review

on:
  pull_request:
    types: [opened, synchronize]
  schedule:
    - cron: "0 0 * * 1"

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Dependency Review Scan
        uses: actions/dependency-review-action@v4
